.main {
    background-color: rgb(43, 226, 122);
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */
    overflow: hidden;
    /* Prevents scrollbars */
}