.main {
    background-color: rgb(43, 226, 122);
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */
    overflow: hidden;
    /* Prevents scrollbars */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .content {
        width: 100%;
    } }